<%- include('partials/header') %>
<div class="container mt-5">
    <h1>2 Factor Authentication</h1>
  
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
  
            <!-- Makes POST request to /2fa route -->
            <form action="/2fa" method="POST">
              <div class="form-group">
                <label for="otp">Enter the OTP sent to your email</label>
                <input type="otp" class="form-control" name="otp">
              </div>
              <button type="submit" class="btn btn-dark">Submit</button>
            </form>
  
          </div>
        </div>
      </div>  
    </div>

    <%- include('partials/footer') %>
    